<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyToDo</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div id="heading">
        <h1><a class="title" href="/">EasyToDo<a></a></h1>
    </div>