<%- include('partials/header') %>
<div class="box completed">
    <p>Welcome to the Easiest ToDo list App around</p>
    <p>Try it out and see <br><br>100% free storage. <br><br>All your data is Safe and Secure. </p>
</div>

<div class="box todo">
    <div class="item item-list home userinput">
        <button><a class="title" href="/login">Login</a></button>

        <button><a class="title" href="/register">Register</a></button>
    </div>
</div>

<br><br>

<%- include('partials/footer') %>
