<%- include('partials/header') %>



<h3 style="color:red;text-align: center;"><%=error%></h3>
<div class="box google">
  <div class="userinput-list">
    <div class="userinput">
      <a class="" href="/auth/google" role="button">
        Sign In with Google
      </a>
    </div>
  </div>
</div>
<!-- 
<div class="box google">
  <div class="userinput-list">
    <div class="userinput">
      <a class="" href="/emaillogin" role="button">
        Sign In with Email
      </a>
    </div>
  </div>
</div> -->

<br><br>


<%- include('partials/footer') %>