<div class="new-item">
    <form action="/notes" method="POST">
        <input required type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
        <Button type="submit">➕</Button>
    </form>
</div>