<div class="box new-item">
    <form class="input" action="/notes" method="POST">
        <input required type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <Button type="submit">➕</Button>
    </form>
</div>